backend/node_modules
frontend/node_modules
backend/app/ml/models
backend/app/ml/data
backend/app/ml/metadata/*
test_inference.py
!backend/app/ml/metadata/.gitkeep
backend/.env
.DS_Store
deploy.sh

# pycache and other python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# model weights and checkpoints
backend/app/ml/model_weights/IllegalLogging/outputs_model.pt
frontend/*
backend/app/ml/model_weights/VGGish/*
!backend/app/ml/model_weights/IllegalLogging/.gitkeep
!backend/app/ml/model_weights/VGGish/.gitkeep